@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to a global CSS file */
.animated-gradient-bg {
  background: linear-gradient(120deg, #0f0f0f, #141414, #1a1a1a);
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
